@{
    ViewBag.Title = "Maquinaria y equipos electricos";
}

<ng-controller ng-controller="ConMaquinaria">

    <div class="card card-block rounded smooth-scroll">
        <h4 class="h4-responsive  font-weight-bold">Listado de Maquinarias y Equipos Eléctricos</h4>
        
        <h6 class="h6-responsive font-weight-bold indigo-text">Costo actual de la Energía Eléctrica: C$ {{precioenergia}}</h6>
        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="light-green  white-text">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Equipo o Maquinaria
                        </th>
                        <th>
                            Función
                        </th>
                        <th>
                           Consumo Promedio KWH
                        </th>

                        <th>
                          Cantidad en Existencia
                        </th>

                        <th>
                            Es una Máquina
                        </th>




                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>

        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large green darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>

            <ul>
                <li><a class="btn-floating green" data-animation="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agregar maquinaria o equipo "><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating yellow darken-1" data-animation="false" ng-click="editar()" data-tooltip=tooltip data-placement="left" title="Edita la maquinaria o el equipo seleccionado."><i class="fa fa-pencil"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Elimina la maquinaria o el equipo seleccionado."><i class="fa fa-trash-o"></i></a></li>
                <li><a class="btn-floating blue" data-animation="false" ng-click="electrico()" data-tooltip=tooltip data-placement="left" title="Actualizar costo de Energia eléctrica "><i class="fa fa-plus"></i></a></li>

            </ul>
        </div>
        @Html.Action("Create", "Maquinarias")
        @Html.Action("Precio", "Maquinarias")
        @Html.Action("DeleteGeneral", "Home");
    </div>
</ng-controller>


<script>
        var table = "";
        $(document).ready(function () {
            $('[data-tooltip=tooltip]').tooltip();
            $('[data-toggle=tab]').tooltip();

            table = $('#table1').DataTable({
                select: true,
                "processing": true,
                "serverSide": true,
                "orderMulti": false,
                "ajax": {
                    "url": "../Maquinarias/searchMaquinarias",
                    "type": "POST",
                    "dataType": "JSON"

                },
                "columns": [
                    { "data": "IdMaquinariaEquipoElectrico", "name": "IdMaquinariaEquipoElectrico", visible: false },
                    { "data": "NombreEquipo", "name": "NombreEquipo" },
                    { "data": "NombreFuncion", "name": "NombreFuncion" },
                    { "data": "ConsumoPromedioKWh", "name": "ConsumoPromedioKWh" },
                     { "data": "CantidadExistencia", "name": "CantidadExistencia" },
                      { "data": "isMaquinaria", "name": "isMaquinaria" , render: function (data) {
                          if (data == true) {
                              return '<i class="fa fa-check green-text darken-4" aria-hidden="true"></i>';
                          } else {
                              return '<i class="fa fa-times red-text darken-4" aria-hidden="true"></i>';
                          }
                            

                      }},
                        { "data": "isMaquinaria", "name": "isMaquinaria",visible : false }
                ],
                "language": {
                    "lengthMenu": "Mostrando _MENU_ Entradas por página",
                    "zeroRecords": "Lo sentimos, no se encuentran concidencias",
                    "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                    "infoEmpty": "No hay entradas Disponibles",
                    "infoFiltered": "(filtrar por _MAX_ total entradas)",
                    "search": "Buscar",
                    "paginate": {
                        "previous": "Anterior",
                        "next": "Siguiente"
                    }, "select": {
                        rows: " "
                    }
                }

            });
        });




        app.controller('ConMaquinaria', function ($scope, $http) {

            $scope.idmaquinaria = 0;
            $scope.nombre = "";
            $scope.funcion = "";
            $scope.cantidad = 0;
            $scope.consumo = 0;
            $scope.ismaquina = false;


            $http({
                url: "../Maquinarias/precioenergia",
                method: "POST",              
                headers: { 'Content-Type': 'application/json' }
            }).then(function (response) {
               
                $scope.precioenergia = response.data.precio;
            }

               );

            $scope.abrirmodal = function () {
                $('#modalmaquinariacreate').modal({
                    show: true
                });
            }

            $scope.electrico = function () {
                $('#modalpreciocreate').modal({
                    show: true
                });
            }

            $scope.nuevo = function () {

                if ($scope.idmaquinaria == 0) {
                    $scope.abrirmodal();
                } else {
                    $scope.clean();
                    $scope.abrirmodal();
                }

            };

            $scope.editar = function () {

                if ($scope.idmaquinaria > 0) {
                    $scope.abrirmodal();
                }
            };

            $scope.EsConsumo = function () {
                $scope.consumo = NoLetras($scope.consumo);
            }
            $scope.EsPrecio = function () {
                $scope.precio = NoLetras($scope.precio);
            }
            $scope.EsCantidad = function () {
                $scope.cantidad = Telefono($scope.cantidad);
            }

            $scope.gestionar = function () {
                if ($scope.idmaquinaria > 0) {
                    $scope.modificar();
                } else {
                    $scope.guardar();
                }

            }

            $scope.eliminar = function () {
                if ($scope.idmaquinaria > 0) {
                    $('#Modaldelete').modal({
                        show: true
                    });
                }
            }

                $scope.anular = function(){
                    $http({
                        url: "../Maquinarias/Delete",
                        method: "POST",
                        data: $.param({ "id": $scope.idmaquinaria }),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                        if (response.data.Message == "Exito") {
                            $('#Modaldelete').modal('hide');

                        } else {
                            $scope.message = "Error: " + response.data.Message;

                        }

                    }

            )};

            $scope.guardar = function () {
                
                
                if ($scope.nombre.length > 0 &&
                    $scope.cantidad.length > 0 &&
                    $scope.consumo.length > 0
                    ) {
                    $http({
                        url: "../Maquinarias/create",
                        method: "POST",
                        data: $.param({ "NombreEquipo": $scope.nombre, "NombreFuncion": $scope.funcion, "CantidadExistencia": $scope.cantidad, "ConsumoPromedioKWh": $scope.consumo, "isMaquinaria": $scope.ismaquina }),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                        if (response.data.Message == "Exito") {
                            $('#modalmaquinariacreate').modal('hide');


                        } else {
                            $scope.message = "Error: " + response.data.Message;

                        }

                    }, function (response) {
                        $scope.message = "Error: No se puede Generar la consulta: " + response.status;
                    });
                } else {
                    toastr['warning']('Revise el nombre y la funcion de la maquinaria. El nombre de la maquinaria debe contener entre 1 y 5 caracteres');
                }
            }


            $scope.guardar2 = function () {
                if ($scope.precio.length > 0   ) {
                    $http({
                        url: "../Maquinarias/EnergiaElectria",
                        method: "POST",
                        data: $.param({ "PrecioEnergia": $scope.precio }),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                        if (response.data.Message == "Exito") {
                            $('#modalpreciocreate').modal('hide');
                            $scope.precioenergia = $scope.precio;

                        } else {
                            $scope.message = "Error: " + response.data.Message;

                        }

                    }, function (response) {
                        $scope.message = "Error: No se puede Generar la consulta: " + response.status;
                    });
                } else {
                    toastr['warning']('Revise el nombre y la función de la maquinaria. El nombre de la maquinaria debe contener entre 1 y 5 caracteres');
                }

            }

            $scope.modificar = function () {
              
                $scope.nombre = $scope.nombre + "";
                $scope.funcion = $scope.funcion + "";
                $scope.cantidad = $scope.cantidad + "";
                $scope.consumo = $scope.consumo + "";
                $scope.ismaquina = $scope.ismaquina + "";


                if ($scope.nombre.length > 0 &&
                    $scope.cantidad.length > 0 &&
                    $scope.consumo.length > 0 
                    ) {
                    $http({
                        url: "../Maquinarias/Edit",
                        method: "POST",
                        data: $.param({ "IdMaquinariaEquipoElectrico": $scope.idmaquinaria, "NombreEquipo": $scope.nombre, "NombreFuncion": $scope.funcion, "CantidadExistencia": $scope.cantidad, "ConsumoPromedioKWh": $scope.consumo, "isMaquinaria": $scope.ismaquina }),
                        headers: { 'Content-Type': 'application/json' }
                    }).then(function (response) {
                        if (response.data.Message == "Exito") {
                            $('#modalmaquinariacreate').modal('hide');


                        } else {
                            $scope.message = "Error: " + response.data.Message;

                        }

                    }, function (response) {
                        $scope.message = "Error: No se puede Generar la consulta: " + response.status;
                    });
                } else {
                    toastr['warning']('Revise el nombre y la funcion de la maquinaria. El nombre de la maquinaria debe contener entre 1 y 5 caracteres');
                }
            }


            $scope.get = function () {
                setTimeout(function () {
                var idt = table.row('.selected').index();
                $scope.idmaquinaria = table.cell(idt, 0).data();
                $scope.nombre = table.cell(idt, 1).data();
                $scope.funcion = table.cell(idt, 2).data();
                $scope.consumo = table.cell(idt, 3).data();
                $scope.cantidad = table.cell(idt, 4).data();
                $scope.ismaquina = table.cell(idt, 6).data();

                toastr['success']('Actualmente esta seleccionando la maquinaria '+$scope.nombre);



                }, 100);
            };

            $scope.clean = function () {
                $scope.message = "";
                $scope.idmaquinaria = 0;
                $scope.nombre = "";
                $scope.funcion = "";
                $scope.cantidad = 0;
                $scope.consumo = 0;
                $scope.ismaquina = false;
                setTimeout(function () {


                    $('#table1').DataTable().ajax.reload();

                }, 100);


            }

            $('#modalmaquinariacreate').on('hidden.bs.modal', function (e) {

                $scope.clean();

            });

            $('#modalpreciocreate').on('hidden.bs.modal', function (e) {

                $scope.precio = 0;
            });
            $('#Modaldelete').on('hidden.bs.modal', function (e) {
                $scope.clean();
            });




            });













</script>