@{
    ViewBag.Title = "Entrega de Tickets";
}
<style>
    #table1_filter {
        display: none;
    }

    #table_paginate {
        display: none;
    }

    #table2_filter {
        display: none;
    }
</style>

<ng-controller ng-controller="ConEntrega" >

    <div class="card card-block rounded smooth-scroll">
        <h4 class="h4-responsive font-weight-bold">Entrega de  Tickets </h4>

        <h6 class="h6-responsive font-weight-bold">Seleccione el pedido</h6>
        @Html.DropDownList("IdCotizacion", null, htmlAttributes: new { @class = "mdb-select col-12", data_tooltip = "tooltip", data_placement = "top", title = "seleccione un pedido.", data_animation = "false", style = "display:initial", ng_model = "idcotizacion", ng_change = "selec_coti()" })


        <div class="table-responsive ">
            <table class="table table-hover  table-bordered table-striped" id="table1">
                <thead class="light-green  white-text">
                    <tr>
                        <th>
                           Idticket
                        </th>
                        <th>
                           No. Pedido
                        </th>
                        <th>
                           Ticket
                        </th>
                        <th>
                           Actividad
                        </th>


                        <th>
                          Entregado Por :
                        </th>
                        <th>
                            Fecha
                        </th>
                        <th>
                           Hora
                        </th>
                        <th>
                            Contabilizado
                        </th>
                    </tr>
                </thead>

                <tbody ng-click="get()"></tbody>

            </table>

        </div>
        <hr />
        <br />
   



        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large green darken-4 ">
                <i class="fa fa-cogs"></i>
            </a>
           
            <ul>
                <li><a class="btn-floating green" data-animation="false" ng-click="nuevo()" data-tooltip=tooltip data-placement="left" title="Agrega una nueva entrega de Ticket"><i class="fa fa-plus"></i></a></li>
                <li><a class="btn-floating red" data-animation="false" ng-click="eliminar()" data-tooltip=tooltip data-placement="left" title="Cancela una Entrega de Ticket"><i class="fa fa-trash-o"></i></a></li>
           
            </ul>
        </div>
    </div>
    @Html.Action("EntregaCreate", "ListadoProduccion")
    @Html.Action("DeleteGeneral", "Home")

    <div class="modal fade right" id="modalticketcreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
        <div class="modal-dialog modal-full-height modal-lg" role="document">
            <!--Content-->
            <div class="modal-content">

                <!--Header-->
                <div class="modal-header light-green  white-text">
                    <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" data-animation="false" data-tooltip="tooltip" data.placement="right" title="Cerrar esta ventana">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="title"><i class="fa fa-ticket" aria-hidden="true"></i> {{gestion}}Ticket</h4>
                </div>
                <!--Body-->
                <div class="modal-body mb-0">
                    @*<iframe ng-src="{{urlmodal}}"
                            style="border:none; width:100%;"></iframe>*@
                    @*@Html.Action("Create","ListadoProduccion");*@
                </div>
            </div>
        </div>
    </div>

</ng-controller>
<script>
    $('[data-tooltip=tooltip]').tooltip();
    $('[data-toggle=tab]').tooltip();
    app.controller('ConEntrega', function ($scope, $http, $window, $sce) {
        var table = $('#table1').DataTable({
            select: true,
            "processing": true,
            "serverSide": true,
            "orderMulti": false,
            "ajax": {
                "url": "../ListadoProduccion/searchEntregas",
                "type": "POST",
                "dataType": "JSON"

            },
            "columns": [
                      { "data": "IdEntregaTicket", "name": "IdEntregaTicket", visible: false },
                { "data": "IdCotizacion", "name": "IdCotizacion" },                
                        { "data": "Ticket", "name": "Ticket" },
                          { "data": "Actividad", "name": "Actividad" },
                          { "data": "EntregadoPor", "name": "EntregadoPor" },
                          { "data": "Fecha", "name": "Fecha" },
                          { "data": "Hora", "name": "Hora" },
                          {
                              "data": "Contabilizado", "name": "Contabilizado", render: function (data) {
                                  if (data == true) {
                                      return '<i class="fa fa-check green-text darken-4" aria-hidden="true"></i>';
                                  } else {
                                      return '<i class="fa fa-times red-text darken-4" aria-hidden="true"></i>';
                                  }


                              }
                          }



            ],
            "language": {
                "lengthMenu": "Mostrando _MENU_ Entradas por página",
                "zeroRecords": "No ha seleccionado ningún pedido",
                "info": "Mostrando Página _PAGE_ de _PAGES_ (Registros Totales _TOTAL_)",
                "infoEmpty": "No hay entradas Disponibles",
                "infoFiltered": "(filtrar por _MAX_ total entradas)",
                "search": "Buscar",
                "paginate": {
                    "previous": "Anterior",
                    "next": "Siguiente"
                }, "select": {
                    rows: " "
                }
            }

        });
    


        table.search("").draw();
    
        $scope.selec_coti = function () {
            table.search($scope.idcotizacion).draw();
        };


        $('#table1 tbody').on('click', 'td', function () {
            setTimeout(function () {
                var idt = table.row('.selected').index();
                $scope.idticket = table.cell(idt, 0).data();
                toastr['success']('Actualmente esta seleccionando el Ticket No-' + $scope.idticket);
            }, 100);

        });




     

     
        $scope.nuevo = function () {
        
            $('#modalentrega').modal({
                show: true
            });
        };

        $scope.codigo = function (keyEvent) {
           
            if (keyEvent.which === 13) {


                $http({
                    url: "../ListadoProduccion/CreateEntrega",
                    method: "POST",
                    data: $.param({ Ticket : $scope.cod, IdEmpleado : $scope.idempleado }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                }).then(function (response) {
                    if (response.data.Message == "Exito") {
                        $scope.message = "Guardado con exito el ticket"
                        $scope.cod = "";
                    } else {
                        $scope.message = "Error: " + response.data.Message;
                        $scope.cod = "";
                    }

                })
              
            }

        };

      


        $scope.eliminar = function () {
           
            if ($scope.idticket > 0) {
                $scope.message = "";
                $('#Modaldelete').modal({
                    show: true
                });
            }
        }

        $scope.anular = function () {
            $http({
                url: "../ListadoProduccion/DeleteEntrega",
                method: "POST",
                data: $.param({ "IdEntrega": $scope.idticket }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {
                if (response.data.Message == "Exito") {
                    $('#Modaldelete').modal('hide');
                    $('#table1').DataTable().ajax.reload();

                } else {
                    $scope.message = "Error: " + response.data.Message;

                }

            })
        };

        $('#Modaldelete').on('hidden.bs.modal', function (e) {
            $scope.clean();
        });
        $('#modalentrega').on('hidden.bs.modal', function (e) {
            $('#table1').DataTable().ajax.reload();
            $scope.clean();
        });

        $scope.clean = function () {           
            $scope.message = "";
        }
    });
</script>