
@model IEnumerable<Confortex.Models.Talla>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-2">
            <input type="checkbox" id="Talla_@item.IdTalla" ng-model="tallas[@item.IdTalla]" />          
            
            <label for="Talla_@item.IdTalla">@item.Nombre</label>
        </div>
    }
</div>