@model Confortex.Models.ReportViewerViewModel

@{
    ViewBag.Title = "Reporte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="flex-center row" ng-controller="Reporte" ng-cloak>
    <div class="card col-md-10">
         
        <div class="card-block">

            <div class="form-inline">
                <h4 class="h4-responsive font-weight-bold col-6">Informe de Planilla </h4>
                <a class="btn btn-sm text-right green darken-4" href="~/Nomina/index">Regresar a Gestion de Planillas</a>
            </div>
            <div class="form-horizontal row">
                <iframe src="@Model.ReportPath" class="col-md-12" style="width:100%; height:1200px; border:none;"></iframe>
            </div>
        </div>
    </div>
</div>
</div>

