
<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Sistema de Produccion Confortex</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- CSS -->

    <link href="~/content/compiled.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <style>
       
    </style>
</head>

<body>
    <!--Navigation & Intro-->
    <div class="green darken-4 hidden-lg-down" style="padding:20px">
        <div class="row">

            <div class="text-center col-lg-3  col-sm-12 hidden-lg-down">
               

            </div>

            <div class="text-center col-lg-6 text-white titlee col-sm-12 hidden-lg-down">
                <h3 class="h3-responsive wow fadeIn" data-wow-duration="1s">CONFORTEX </br> Sistema para la Gestión de la Producción  </h3></br>

            </div>
            <div class="text-center col-lg-3  col-sm-12 hidden-lg-down">
       
            </div>

        </div>

    </div>

    @RenderBody()

    <footer class="page-footer green darken-4 fixed-bottom ">



        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid">
                ©@DateTime.Now.Year Copyright: Yasser Montiel / Daniel Zamora 

            </div>
        </div>
        <!--/.Copyright-->

    </footer>

    <!--/Navigation & Intro-->
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script src="~/Scripts/compiled.min.js"></script>
        <!-- Bootstrap tooltips -->    

   

    <script>

       


    </script>

    
</body>

</html>