@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}



<div class="card card-block" style="height:400px;">
    <h2 class="text-danger h2-responsive text-center">Lamentamos que ha ocurrido un error en el servidor.</h2>
    <img class="img-fluid container text-center" style="width:300px" src="~/img/Error_s.svg">


</div>

