
<div class="card card-block" style="height:400px;">
    
    <br />
    <h2 class="text-danger h2-responsive text-center">Lo sentimos, No tiene permisos para acceder a esta página.</h2>
    <img class="img-fluid container  " src="~/img/403.svg" style="width:350px"/>

</div>
